
//隐藏仓库图标
.navbar .repo-link{
  display: none;
}

//隐藏Markdown图标
[data-waline] a:hover{
  display: none;
}
[data-waline] a{
  display: none;
}

//隐藏编辑图标
.page-meta .edit-link{
  display: none;
}
//隐藏贡献者
.page-meta .contributors{
  display: none;
}

//提交时间放在右侧
@media (max-width: 719px) {
  .page-meta .update-time{
    float: right;
  }
}
